@import "colors";

$scale-amount: 0.93;
$scale-time: 0.3s;

.Product {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.Product__image {
  border: 1px solid $darkGray;
  padding: 7px;
  width: 100%;
  position: relative;
  margin-bottom: 25px;

  img {
    width: 100%;
    display: block;
    animation: scale-out $scale-time ease-out forwards;
  }
}

.Product .Product__image {
  img:hover {
    animation: scale-in $scale-time ease-out forwards;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    background-color: $darkGray;
    z-index: 2;
  }

  &:before {
    opacity: 0.5;
  }

  &:after {
    opacity: 0.5;
    animation: scale-out 1s ease-in-out;
  }
}

.Product__details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.Product__name {
  font-weight: bold;
  padding-bottom: 8px;
  color: $darkGray;
}

.Product__artist {
  padding-bottom: 8px;
  color: $darkGray;
  font-style: italic;
}

.Product__price {
  color: $darkGray;
  padding-bottom: 10px;

  font-weight: normal;
}

.Product__buy {
  flex: 1;
  text-align: right;
  text-transform: uppercase;
  background: $orange;
  padding: 10px 20px;
  color: white;
  position: relative;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

@keyframes scale-in {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale($scale-amount);
    -webkit-transform: scale($scale-amount);
  }
}
@keyframes scale-out {
  0% {
    transform: scale($scale-amount);
    -webkit-transform: scale($scale-amount);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@keyframes cross-1 {
  $steps: 5;

  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))} {
      transform: translate((random(50) - 25) + px, (random(50) - 25) + px)
        rotate((30 - random(60)) + deg);
      width: (1 + random(3)) + px;
    }
  }
}

@keyframes cross-2 {
  $steps: 5;

  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))} {
      transform: translate((random(50) - 25) + px, (random(50) - 25) + px)
        rotate((30 - random(60)) + deg);
      height: (1 + random(2)) + px;
    }
  }
}

@keyframes blink {
  $steps: 20;

  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps) + ((15 - random(30)) / 15) * (1 / $steps))} {
      @if ($i % 3 == 0) {
        opacity: 1;
      } @else {
        opacity: 0;
      }
    }
  }
}
